node_modules
dist
dist-ssr
*.local
coverage
.vite
*.tsbuildinfo

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Lighthouse
.lighthouseci/
